body{
    width: 100%;
    margin: 0;
    background-color: white;
}

footer {
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
}

.figura {
    position: absolute;
}

#kwadrat{
    width: 100px; 
    height: 100px; 
    background: green; 
}

#prostokat{
    width: 150px;
    height: 100px;
    background: yellow;
}

#kolo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
}

#trojkat{
    width: 0; 
    height: 0; 
    border-right: 50px solid transparent; 
    border-left: 50px solid transparent; 
    border-bottom: 100px solid blue; 
}

